<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="icon"></th>
        <th class="name">ファイル名</th>
        <th class="user">ユーザ</th>
        <th class="size">サイズ</th>
        <th class="date">更新日</th>
        <th class="ctrl"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><a href="{{$ctrl.path.join($ctrl.$location.path(),'..')}}/" title="上のフォルダへ移動">..</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="item in $ctrl.docs | orderBy: 'kind'">
        <td class="icon">
          <span ng-show="$ctrl.isFile(item)"><i class="fa fa-file-text-o"></i></span>
          <span ng-show="$ctrl.isDir(item)"><i class="glyphicon glyphicon-folder-close"></i></span>
        </td>
        <td class="name"><a href="{{$ctrl.href(item)}}">{{item.name}}</a></td>
        <td class="user"><a href="/users/{{item.user.id}}">{{item.user.name}}</a></span></td>
        <td class="size">{{item.size | bytes}}</span></td>
        <td class="date">{{item.updatedAt | date : 'yyyy/MM/dd HH:mm'}}</a></td>
        <td class="ctrl">
          <button popover-placement="bottom-right" popover-trigger="'outsideClick'" title="操作" uib-popover-html="'<button type=\'button\' class=\'btn btn-danger btn-s\' ng-click=\'uploader.clearQueue()\' ng-disabled=\'!uploader.queue.length\'><span class=\'glyphicon glyphicon-trash\'></span> 削除</button>'"
           type="button" class="btn btn-default btn-xs"><i class="fa fa-cog" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <upload></upload>
</div>
